body {
    background-color:rgb(182, 208, 247);
    font-family:'Times New Roman', Times, serif;
    color: black;
    margin-bottom: 20px;
}
 img {
        display: block;
        margin: 0 auto;
        max-width: 30%;
        height: auto;

    }
 
    .links{
        padding: 20px;
        border-bottom: 2px solid cornflowerblue;
    }